body{
    padding: 50px 20%;
}

h1, h2, h3, strong{
    color: plum;
}

h1, h3 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

h2{
    text-align: right;
    border-bottom: 2px solid lightslategray;
}

#number1-achievement{
        color: red;
        font-family: Arial, Helvetica, sans-serif;
    }

hr {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    color: lightslategray;
    border-style: dotted;
    border-width: thin;
}

p {
   font-family: georgia, serif; 
   color: darkslategray;
   text-align: justify;
   font-style: italic;
}