@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	font-family: "Indie Flower", "Times New Roman";
	padding: 50px 20%;
}

h1, h2, h3, b, strong {
	color: Plum;
}

h1 {
	text-transform: uppercase;
}

h1, h3 {
	text-align: center;
}

h2 {
	text-align: right;
}

h2:after {
	content: ' ';
	display: block;
	border: 2px solid black;
	color: LightSlateGray;
}

hr {
	border: LightSlateGray 0.5px dashed;
	width: 50%;
}

p {
	color: DarkSlateGray;
	text-align: justify;
}

#number1-achievement {
	color:red;
}

p.important {
	font-style: italic;
}