body{
    padding-left: 20%;
    padding-right: 20%;
}

h1, h2, h3, strong{
    color: plum;
}

h1, h3 {
    text-align: center;
}

h2{
    text-align: right;
    border-bottom: 2px solid lightslategray;
}

hr {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: lightslategray;
    border-style: dotted;
    border-width: thin;
}

p {
   font-family: georgia, serif; 
   color: darkslategray;
   text-align: justify;
}